h2, h3 {
    color: #F5D98F;
}

h3{
    margin-bottom: 1rem;
}

.card{
    width: 210px;
    height: 480px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem 2.5rem;
}
