.fullImage{
    width: 80vw;
    border-radius: 5px;
}
.fullContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.back{
    align-self: flex-start;
    margin: 1rem 0 0 1.5rem;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid #F5D98F;
}