.welcome-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 22.1vh);
    overflow: hidden;
}

.welcome-container h1{
    font-size: 32px;
    color: #fff;
}